@import url('https://fonts.googleapis.com/css?family=Maven%20Pro');
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$dark: #272727;
$light: #EFF1F3;

body
  font-family: 'Maven Pro', Arial, sans-serif;
